@model IEnumerable<WebApplication1.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h1 class="pb-2 m-0">Directory</h1>
<hr />

<div class="col-sm-12">
    <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
        <div>
            <a asp-action="Create" class="btn btn-primary mt-2 ">Create New</a>
        </div>
        <!--Search Bar-->
        <form asp-action="ShowSearchResults" class="d-flex">
            <input name="SearchPhrase" class="form-control me-2" placeholder="Search..." />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<!--Suggested to add borders for better readability-->
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Department)</th>
            <th>@Html.DisplayNameFor(m => m.First().FirstName)</th>
            <th>@Html.DisplayNameFor(m => m.First().LastName)</th>
            <th>@Html.DisplayNameFor(m => m.First().Title)</th>
            <th>@Html.DisplayNameFor(m => m.First().Extension)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Department</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Title</td>
                <td>@item.Extension</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

    <div class="d-flex justify-content-end">
    <a asp-action="Index" class="btn btn-primary mt-2">Back to Contact List</a>
    </div>
